In [26]:
import scipy.stats as stats
import numpy as np
import pandas as pd
from statsmodels.sandbox.stats.multicomp import multipletests as mt

In [16]:
tss_motif_stuff = pd.read_csv("tssAnn_forFisherExact", sep = "\t")
tss_motif_stuff

     cluster  Tss + in cluster  tss not cluster  cluster not tss  neither
0  cluster 1               277             1756              384    29679
1  cluster 2                10             2023             1412    28651
2  cluster 3                48             1985             3327    26736
3  cluster 4                31             2002             3204    26859
4  cluster 5              1023             1010             1908    28155
5  cluster 6               147             1886             8112    21951
6  cluster 7               497             1536            11716    18347

In [17]:
fet = lambda a,b,c,d:stats.fisher_exact([[a, b], [c, d]])

In [18]:
fet_sArg = lambda arg:fet(*arg)

In [19]:
list(map(fet_sArg, tss_motif_stuff[["Tss + in cluster", "tss not cluster", "cluster not tss", "neither"]].values))

[(12.191953480922551, 1.7119659642224034e-156),
 (0.10030191046590274, 2.367198357636571e-28),
 (0.19432306773297478, 8.716018518303819e-48),
 (0.1298060553678531, 1.5840380218872547e-57),
 (14.946221744815992, 0.0),
 (0.21091235167882938, 3.3524387578233557e-108),
 (0.5066999611464379, 4.253294602676956e-41)]

In [20]:
odds_ratios,pvals = zip(*list(map(fet_sArg, tss_motif_stuff[["Tss + in cluster", "tss not cluster", "cluster not tss", "neither"]].values)))

In [21]:
tss_motif_stuff["odds ratios"] = odds_ratios
tss_motif_stuff["p values"] = pvals
tss_motif_stuff["-log(pval+1E-250)"] = -np.log10(tss_motif_stuff["p values"]+10**-250)
tss_motif_stuff

,cluster,Tss + in cluster,tss not cluster,cluster not tss,neither,odds ratios,p values,-log(pval+1E-200)
0,cluster 1,277,1756,384,29679,12.191953,1.711966e-156,155.766505
1,cluster 2,10,2023,1412,28651,0.100302,2.367198e-28,27.625765
2,cluster 3,48,1985,3327,26736,0.194323,8.716019e-48,47.059682
3,cluster 4,31,2002,3204,26859,0.129806,1.584038e-57,56.800234
4,cluster 5,1023,1010,1908,28155,14.946222,0.000000e+00,200.000000
5,cluster 6,147,1886,8112,21951,0.210912,3.352439e-108,107.474639
6,cluster 7,497,1536,11716,18347,0.506700,4.253295e-41,40.371275

In [30]:
tss_motif_stuff["p adj"] = mt(tss_motif_stuff["p values"], method = "fdr_bh")[1]
tss_motif_stuff["-log(p adj+1E-250)"] = -np.log10(tss_motif_stuff["p adj"]+10**-250)
tss_motif_stuff

,cluster,Tss + in cluster,tss not cluster,cluster not tss,neither,odds ratios,p values,-log(pval+1E-200),p adj,-log(p adj+1E-250)
0,cluster 1,277,1756,384,29679,12.191953,1.711966e-156,155.766505,5.991881e-156,155.222437
1,cluster 2,10,2023,1412,28651,0.100302,2.367198e-28,27.625765,2.367198e-28,27.625765
2,cluster 3,48,1985,3327,26736,0.194323,8.716019e-48,47.059682,1.220243e-47,46.913554
3,cluster 4,31,2002,3204,26859,0.129806,1.584038e-57,56.800234,2.772067e-57,56.557196
4,cluster 5,1023,1010,1908,28155,14.946222,0.000000e+00,200.000000,0.000000e+00,250.000000
5,cluster 6,147,1886,8112,21951,0.210912,3.352439e-108,107.474639,7.822357e-108,107.106662
6,cluster 7,497,1536,11716,18347,0.506700,4.253295e-41,40.371275,4.962177e-41,40.304328

In [22]:
cpg_motif_stuff = pd.read_csv("CpGAnn_forFisherExact", sep = "\t")
cpg_motif_stuff

     cluster  CpG + in cluster  CpG not cluster  cluster not CpG  neither
0  cluster 1               116              779              545    30656
1  cluster 2                 4              891             1418    29783
2  cluster 3                 8              887             3367    27834
3  cluster 4                 5              890             3230    27971
4  cluster 5               449              446             2482    28719
5  cluster 6                42              853             8217    22984
6  cluster 7               271              624            11942    19259

In [23]:
list(map(fet_sArg, cpg_motif_stuff[["CpG + in cluster", "CpG not cluster", "cluster not CpG", "neither"]].values))

[(8.376054928101189, 3.0551026712804593e-58),
 (0.09429192409916434, 3.6958157476125134e-13),
 (0.07455879383726058, 1.485929085993445e-32),
 (0.04865029394371587, 2.6263812039257596e-34),
 (11.648741792927012, 7.613686132338302e-230),
 (0.13772493790573143, 2.6982083184392117e-64),
 (0.7003923074775947, 9.67116487907494e-07)]

In [24]:
odds_ratios,pvals = zip(*list(map(fet_sArg, cpg_motif_stuff[["CpG + in cluster", "CpG not cluster", "cluster not CpG", "neither"]].values)))

In [31]:
cpg_motif_stuff["odds ratios"] = odds_ratios
cpg_motif_stuff["p values"] = pvals
cpg_motif_stuff["-log(pval+1E-250)"] = -np.log10(cpg_motif_stuff["p values"]+10**-250)
cpg_motif_stuff["p adj"] = mt(cpg_motif_stuff["p values"], method = "fdr_bh")[1]
cpg_motif_stuff["-log(p adj+1E-250)"] = -np.log10(cpg_motif_stuff["p adj"]+10**-250)
cpg_motif_stuff

,cluster,CpG + in cluster,CpG not cluster,cluster not CpG,neither,odds ratios,p values,-log(pval+1E-250),p adj,-log(p adj+1E-250)
0,cluster 1,116,779,545,30656,8.376055,3.055103e-58,57.514974,7.128573e-58,57.146997
1,cluster 2,4,891,1418,29783,0.094292,3.695816e-13,12.432290,4.311785e-13,12.365343
2,cluster 3,8,887,3367,27834,0.074559,1.485929e-32,31.828002,2.080301e-32,31.681874
3,cluster 4,5,890,3230,27971,0.048650,2.626381e-34,33.580642,4.596167e-34,33.337604
4,cluster 5,449,446,2482,28719,11.648742,7.613686e-230,229.118405,5.329580e-229,228.273307
5,cluster 6,42,853,8217,22984,0.137725,2.698208e-64,63.568925,9.443729e-64,63.024856
6,cluster 7,271,624,11942,19259,0.700392,9.671165e-07,6.014521,9.671165e-07,6.014521